<!DOCTYPE html>
<html class="text-center">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DoctorAIApp</title>
    <link rel="stylesheet" href="application/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="application/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="application/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="application/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="application/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="application/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="application/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="application/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="application/assets/css/styles.css">
    <link rel="stylesheet" href="application/assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="application/assets/css/untitled.css">
</head>

<body>
    <div>
        <div class="header-dark" style="padding-left: 10vw;padding-right: 10vw;vertical-align: middle;">
            <nav class="navbar navbar-light navbar-expand-md flex-grow-1 justify-content-between navigation-clean-search" data-aos="slide-down" data-aos-duration="950" data-aos-delay="300" data-aos-once="true">
                <div class="container-fluid"><img class="img-fluid" src="application/assets/img/logo_white_doctorai.png" width="13%"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav d-xl-flex flex-grow-1 justify-content-start">
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="/" style="color: rgb(255,255,255);">Home</a></li>
                            <li class="nav-item" role="presentation"></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="#" style="color: rgb(255,255,255);">About Us</a></li>
                        </ul><a class="btn btn-primary border rounded action-button" role="button" href="/app" style="filter: brightness(100%) saturate(100%);background-color: rgb(255,255,255);color: rgb(0,0,0);">Get Started</a></div>
        </div>
        </nav>
        <div class="container-fluid text-left" data-aos="zoom-in" data-aos-duration="500" style="margin-top: 10rem;margin-bottom: 10rem;">
            <div class="row">
                <div class="col rounded" style="background-color: rgb(255,255,255);">
                    <div class="text-center" style="padding: 1rem;"><img src="application/assets/img/logo_black_doctorai.png" style="width: 25%;"></div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" style="background-color: rgb(48,160,167);">
                <div class="col-3 rounded" style="background-color: rgb(48,160,167);">
                    <div class="text-center" style="padding: 1.5rem;">
                        <div class="text-center">
                            <h2 class="text-center white-text" style="padding: 0.3rem;">Progress<br></h2>
                            <p class="white-text">Paragraph</p>
                        </div>
                        <div class="text-center">
                            <h2 class="text-center white-text" style="padding: 0.3rem;">Instructions</h2>
                            <p class="white-text" style="font-size: 1.5rem;">Paragraph</p>
                        </div>
                        <div class="text-center">
                            <h2 class="text-center white-text" style="padding: 0.3rem;">Question</h2>
                            <p class="white-text">Paragraph</p>
                        </div>
                    </div>
                </div>
                <div class="col-9 rounded" style="background-color: white;">
                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 5rem;">
                        <video id="player" autoplay class="embed-responsive-item"></video>
                        <script>
                            var player = document.getElementById('player');
                    
                            var handleSuccess = function (stream) {
                                player.srcObject = stream;
                                player.onloadmetadata = () => {
                                    player.play();
                                }
                            };
                    
                            navigator.mediaDevices.getUserMedia({ audio: true, video: true })
                                .then(handleSuccess)
                        </script>
                    </div>       
                </div>
            </div>
            <div class="row">
                <div class="col rounded" style="background-color: rgb(255,255,255);">
                    <div class="text-center" style="padding: 1rem;">
                        <nav class="navbar navbar-light navbar-expand-md">
                            <div class="container-fluid"><button class="btn btn-primary text-right button-type" data-bs-hover-animate="pulse" type="button"><span style="font-family: &quot;poppins&quot;;">&nbsp;Reset&nbsp;</span><i class="fa fa-rotate-left"></i></button><button class="btn btn-primary text-right button-type"
                                    data-bs-hover-animate="pulse" type="button"><span style="font-family: &quot;poppins&quot;;">&nbsp;Record&nbsp;</span><i class="fa fa-stop-circle"></i></button><button class="btn btn-primary text-right button-type" data-bs-hover-animate="pulse"
                                    type="button"><span style="font-family: &quot;poppins&quot;;">&nbsp;Next Question&nbsp;</span><i class="fa fa-play"></i></button></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="uses" style="background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(255,255,255,0.9) 50%), url(&quot;application/assets/img/bg-4.jpg&quot;);padding-left: 10vw;padding-right: 10vw;vertical-align: middle;background-size: cover;">
        <div class="container-fluid text-left" style="margin-top: 7rem;margin-bottom: 7rem;">
            <div class="row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" style="margin-top: 15vh;">
                <div class="col-lg-6 order-lg-1" id="doublemargin">
                    <div>
                        <h2 class="text-center">Your results will appear here after you complete your check up!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uses" style="background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(255,255,255,0.9) 50%), url(&quot;application/assets/img/bg-2.jpg&quot;);padding-left: 10vw;padding-right: 10vw;vertical-align: middle;background-size: cover;">
        <div class="container-fluid text-left" style="margin-top: 7rem;margin-bottom: 7rem;">
            <div class="row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" style="margin-top: 15vh;">
                <div class="col-lg-6 order-lg-1" id="doublemargin">
                    <div>
                        <h2 class="text-center" style="font-size: 3rem;">The Waiting Room</h2>
                        <h2 class="text-center">Read up on the medical world!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="padding-left: 15vw;padding-right: 15vw;">
        <footer>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="text-center" data-aos="flip-up" data-aos-duration="950" id="mainhead" style="margin-top: 9rem!important;margin-bottom: 9rem!important;">Stay Healthy Ponyboy &lt;3</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">Webpage</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Open Source</h3>
                        <ul>
                            <li><a href="#">DevPost</a></li>
                            <li><a href="#">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>doctorAI</h3>
                        <p>This project was made for the TJ Hacks 8.0 Hackathon!</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-university"></i></a><a href="#"><i class="icon ion-ios-heart"></i></a><a href="#"><i class="icon ion-email"></i></a><a href="#"><i class="icon ion-social-github"></i></a></div>
                </div>
                <p class="copyright">doctorAI © 2021</p>
            </div>
        </footer>
    </div>
    <script src="application/assets/js/jquery.min.js"></script>
    <script src="application/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="application/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>