<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DoctorAI</title>
    <link rel="stylesheet" href="/index/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/index/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/index/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/index/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/index/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/index/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="/index/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="/index/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/index/assets/css/styles.css">
    <link rel="stylesheet" href="/index/assets/css/untitled.css">
</head>

<body>
    <div>
        <div class="header-dark" style="padding-left: 10vw;padding-right: 10vw;vertical-align: middle;">
            <nav class="navbar navbar-light navbar-expand-md flex-grow-1 justify-content-between navigation-clean-search" data-aos="slide-down" data-aos-duration="950" data-aos-delay="300" data-aos-once="true">
                <div class="container-fluid"><img class="img-fluid" src="/index/assets/img/logo_white_doctorai.png" width="13%"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav d-xl-flex flex-grow-1 justify-content-start">
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="/" style="color: rgb(255,255,255);">Home</a></li>
                            <li class="nav-item" role="presentation"></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="navitem" href="#" style="color: rgb(255,255,255);">About Us</a></li>
                        </ul><a class="btn btn-primary border rounded action-button" role="button" href="/app" style="filter: brightness(100%) saturate(100%);background-color: rgb(255,255,255);color: rgb(0,0,0);">Get Started</a></div>
        </div>
        </nav>
        <div class="container-fluid text-left">
            <div class="row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" style="margin-top: 15vh;">
                <div class="col-5 col-lg-6 d-xl-flex order-lg-2 justify-content-xl-center" id="doublemargin">
                    <div class="p-3"><img class="img-fluid" data-bs-hover-animate="pulse" src="/index/assets/img/hero-img.svg"></div>
                </div>
                <div class="col-lg-6 order-lg-1" id="doublemargin">
                    <div>
                        <h1 class="text-left display-4 white-text" id="mainhead">Democratizing Healthcare</h1>
                        <div class="pt-1 pb-3">
                            <h2 class="text-left white-text" id="subhead">Increasing accessibility to wellness visits and checkups</h2>
                        </div>
                        <div class="pb-3"><a class="btn btn-light btn-lg btn-xl mr-4" role="button" href="/app">Get Started</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="uses" style="background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(255,255,255,0.9) 50%), url(&quot;/index/assets/img/bg-2.jpg&quot;);padding-left: 10vw;padding-right: 10vw;vertical-align: middle;background-size: cover;">
        <div class="container-fluid text-left" style="margin-top: 7rem;margin-bottom: 7rem;">
            <div class="row justify-content-center align-items-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" style="margin-top: 15vh;">
                <div class="col-5 col-lg-6 d-xl-flex order-lg-2 justify-content-xl-center" id="doublemargin">
                    <div class="p-3"><img class="img-fluid" data-bs-hover-animate="pulse" src="/index/assets/img/doctor-img.svg"></div>
                </div>
                <div class="col-lg-6 order-lg-1" id="doublemargin">
                    <div>
                        <h1 class="text-center display-4" id="mainhead">Our Mission</h1>
                        <div class="pt-1 pb-3">
                            <h2 class="text-left" id="subhead"><br>Millions of people across the world lack basic health care and/or can't even afford it. Furthermore, with the COVID-19 Pandemic, medical workers have been in extremely high demand, with there being not enough to go around for everyone. We propose an AI solution that could be a helper to and potential substitue for medical workers, so everyone can receive the treatment they deserve while workers can focus more on saving lives.<br><br></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uses" style="background: linear-gradient(0deg, rgba(84,173,211,0.8)0%, rgba(38,183,183,0.8) 50%), url(&quot;/index/assets/img/bg-2.jpg&quot;);background-size: cover;">
        <div class="container">
            <div class="row mt-5 mb-5" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" id="marginbottom">
                <div class="col-lg-4" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h1 class="text-center" style="font-size: 4rem;color: rgb(255,255,255);">Numbers</h1>
                        <p class="lead text-center mb-0" style="font-size: 2rem;color: rgb(255,255,255);">Text</p>
                    </div>
                </div>
                <div class="col-lg-4 '" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3 class="text-center" style="font-size: 4rem;color: rgb(255,255,255);">Numbers</h3>
                        <p class="lead text-center mb-0" style="font-size: 2rem;color: rgb(255,255,255);">Blank</p>
                    </div>
                </div>
                <div class="col-lg-4" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3 class="text-center" style="font-size: 4rem;color: rgb(255,255,255);">Numbers</h3>
                        <p class="lead text-center mb-0" style="font-size: 2rem;color: rgb(255,255,255);">Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uses" style="background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(255,255,255,0.5) 50%), url(&quot;/index/assets/img/bg-5.jpg&quot;);background-size: cover;padding-left: 15vw;padding-right: 15vw;">
        <div class="container-fluid" style="margin-top: 7rem;margin-bottom: 7rem;">
            <div class="row mt-5" id="margintop">
                <div class="col" id="topmargin">
                    <h1 class="text-center" data-aos="fade-up" data-aos-duration="950" data-aos-once="true" style="font-weight: bold;">Your personal wellness visit with Artificial Intelligence, Machine Learning, and Natural Language Processing</h1>
                </div>
            </div>
            <div class="row mt-5 mb-5" data-aos="fade-up" data-aos-duration="950" data-aos-delay="300" data-aos-once="true" id="marginbottom">
                <div class="col-lg-4" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon pb-3"><i class="icon-check m-auto text-primary" data-bs-hover-animate="pulse" style="font-size: 4.5rem;"></i></div>
                        <h3 class="text-center">Diganosis</h3>
                        <p class="lead text-center mb-0"><br>With the use of natural language processing, our artifically intellegent doctor breaks down what you say and develops a diagnosis depending on your needs.&nbsp;<br><br></p>
                    </div>
                </div>
                <div class="col-lg-4 '" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon pb-3"><i class="icon-globe m-auto text-primary" data-bs-hover-animate="pulse" style="font-size: 4.5rem;"></i></div>
                        <h3 class="text-center">Acessibility</h3>
                        <p class="lead text-center mb-0"><br>Most people don't have a MD in their family, but what most people do have is access to the internet. With just a camera and a mic, people can receive a wellness visit.&nbsp;<br><br></p>
                    </div>
                </div>
                <div class="col-lg-4" id="bottommargin">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon pb-3"><i class="icon-layers m-auto text-primary" data-bs-hover-animate="pulse" style="font-size: 4.5rem;"></i></div>
                        <h3 class="text-center">Artificial Intelligence</h3>
                        <p class="lead text-center mb-0"><br>Our "doctor" makes use of a variety of brand new artificial intelligence and machine learning techniques to receive information on the user through a screen and give an appropriate assessement of their health.&nbsp;<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="uses" style="background: linear-gradient(45deg, rgba(255,255,255,0.8)0%, rgba(255,255,255,0.5) 50%), url(&quot;/index/assets/img/bg-7.jpg&quot;);background-size: cover;padding-left: 10vw;padding-right: 10vw;">
        <div class="container-fluid" style="margin-top: 7rem;margin-bottom: 7rem;">
            <div class="row mt-5" id="margintop">
                <div class="col align-self-center" id="topmargin">
                    <div style="margin-bottom: 2rem;">
                        <h1 class="text-center" data-aos="fade-up" data-aos-duration="950" data-aos-once="true" style="font-size: 4rem;font-weight: bold;">How It Was Made</h1>
                    </div>
                    <div class="text-center"><img class="img-fluid" src="/index/assets/img/bg-2.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="padding-left: 15vw;padding-right: 15vw;">
        <footer>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="text-center" data-aos="flip-up" data-aos-duration="950" id="mainhead" style="margin-top: 9rem!important;margin-bottom: 9rem!important;">Stay Healthy Ponyboy &lt;3</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">Webpage</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Open Source</h3>
                        <ul>
                            <li><a href="#">DevPost</a></li>
                            <li><a href="#">GitHub</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>doctorAI</h3>
                        <p>This project was made for the TJ Hacks 8.0 Hackathon!</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-university"></i></a><a href="#"><i class="icon ion-ios-heart"></i></a><a href="#"><i class="icon ion-email"></i></a><a href="#"><i class="icon ion-social-github"></i></a></div>
                </div>
                <p class="copyright">doctorAI © 2021</p>
            </div>
        </footer>
    </div>
    <script src="/index/assets/js/jquery.min.js"></script>
    <script src="/index/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/index/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>